.navbar-bottom {
  background: black;
  margin: auto;
  height: 60px;
}

.navbar-bottom-container {
  background: inherit;
  width: 1400px;
  margin: auto;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1410px) {
  .navbar-bottom-container {
    width: 1110px;
  }
}

@media (max-width: 1200px) {
  .navbar-bottom-container {
    width: 960px;
  }
}

@media (max-width: 960px) {
  .navbar-bottom-container {
    width: 100%;
    padding: 0 20px;
  }
}

.navbar-bottom-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  list-style: none;
  padding-left: 0;
}

@media (min-width: 960px) {
  .navbar-bottom-container ul {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.navbar-bottom-container ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 200ms;
  transition: 200ms;
  cursor: pointer;
}

.navbar-bottom-container ul li i {
  margin-left: 4px;
}

.navbar-bottom-container ul li:not(.highlight):hover {
  color: #b0b1b6;
}

.navbar-bottom-container ul li:not(.brand-logo) {
  padding: 30px 10px;
}

@media (max-width: 960px) {
  .navbar-bottom-container ul li:not(.brand-logo) {
    padding: 15px 10px;
  }
}

.navbar-bottom-container ul li:hover .dropdown {
  display: block;
}

@media (max-width: 960px) {
  .navbar-bottom-container ul li {
    font-size: 14px;
  }
}

.hamburger {
  font-size: 22px !important;
  display: none !important;
}

@media (max-width: 960px) {
  .hamburger {
    display: block !important;
  }
}

@media (max-width: 960px) {
  .signIn {
    display: none !important;
  }
}

.brand-logo {
  width: 150px;
  height: 40px;
  padding: 0;
}

@media (max-width: 1200px) {
  .brand-logo {
    width: 50px;
    content: url("https://cdn.originpc.com/img/origin-o-logo.svg");
  }
}

@media (max-width: 960px) {
  .brand-logo {
    width: 50px;
    -webkit-transform: translateX(25px);
            transform: translateX(25px);
  }
}

@media (max-width: 960px) {
  .container-left {
    width: 50%;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.highlight {
  color: #fb3;
}

.dropdown {
  width: 200px;
  height: auto;
  background: #1e1f24;
  position: absolute;
  top: 100px;
  border: 1px solid #34363c;
  display: none;
}

.dropdown ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.dropdown ul li {
  padding: 0;
  padding: 15px 10px;
  width: 100%;
}

.dropdown ul li i {
  position: absolute;
  right: 10px;
}

.dropdown ul li:hover {
  background-color: #34363c;
}

.dropdown ul li:hover .sub-sidemenu {
  display: block;
}

@media (max-width: 960px) {
  .dropdown {
    position: relative;
    top: 10px;
    width: 100%;
  }
  .dropdown ul {
    width: 100%;
    display: block;
  }
  .dropdown ul li {
    position: relative;
    width: 100%;
  }
  .dropdown ul li:hover .sub-sidemenu {
    display: none;
  }
}

.menu-item {
  display: none !important;
}

@media (max-width: 960px) {
  .menu-item {
    position: absolute;
    width: 100%;
    padding: 0 20px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 0;
    display: none !important;
    background: #000000;
    top: 100px;
    left: 0;
  }
  .menu-item li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .menu-item li .icon i {
    position: relative;
    top: -3px;
  }
}

.show {
  display: block !important;
}

.govt:hover .sub-sidemenu-details {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 960px) {
  .govt:hover .sub-sidemenu-details {
    display: none;
  }
}

.sub-sidemenu {
  width: 200px;
  height: auto;
  background: #1e1f24;
  position: absolute;
  top: -1px;
  left: 199px;
  border: 1px solid #34363c;
  display: none;
}

.sub-sidemenu ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.sub-sidemenu ul li {
  padding: 0;
  padding: 30px 10px;
  width: 100%;
}

.sub-sidemenu ul li:hover .sub-sidemenu-details {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 960px) {
  .sub-sidemenu ul li:hover .sub-sidemenu-details {
    display: none;
  }
}

.last5 {
  top: 307.2px;
}

.last6 {
  top: 384px;
}

.sub-sidemenu-details {
  width: 450px;
  height: 520px;
  background: #1e1f24;
  position: absolute;
  top: -1px;
  left: 199px;
  border: 1px solid #34363c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  line-height: 1.5;
  color: #fff;
}

.sub-sidemenu-details h2 {
  font-size: 16px;
  font-weight: 400;
}

.sub-sidemenu-details img {
  width: 370px;
}

.sub-sidemenu-details .details-bottom h2 i {
  color: #fb3;
}

.sub-sidemenu-details .details-bottom .details-bottom-button {
  margin-top: 10px;
}

.sub-sidemenu-details .details-bottom .details-bottom-button button {
  border: 2px solid #b0b1b6;
  background: transparent;
  padding: 12px 17px;
  border-radius: 2px;
  margin: 10px;
  color: #b0b1b6;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.sub-sidemenu-details .details-bottom .details-bottom-button button:first-child {
  background: #e31b21;
  border: none;
  color: #fff;
}
/*# sourceMappingURL=index.css.map */